@import '../../must-have/g-styles/const';

article {
	position: absolute;
	z-index: 1;

	box-sizing: border-box;

	background: #fff;

	border: {
		width: 0 0 map_get($site-parts-border, width) 0;
		style: map_get($site-parts-border, style);
		color: map_get($site-parts-border, color);
	}

	overflow: auto;

	transition: filter 0.15s;

	&.darker {
		filter: brightness(50%);
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Article inner */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	.inner {
		padding: 1.5em 1.5em 0;

		@include article-typo;

		@import 'partials/_article-content';

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Next/Previous article */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	.next-previous-articles {
		display: flex;

		margin: 1.25em;

		.next-article, .previous-article {
			display: flex;
			align-items: center;
			justify-content: center;

			font-family: "Open Sans", sans-serif;
			text-decoration: none;

			svg {
				fill: #646464;

				transition: 0.15s fill;
			}

			.label {
				font-size: 120%;
				color: #646464;

				transition: 0.15s color;

				@include layout(mobile) {
					display: none;
				}
			}

			&:hover {
				svg {
					fill: #36b;
				}

				.label {
					color: #36b;
				}
			}

			@include layout(mobile) {
				padding: 1em;
				border: 1px solid #dfe2e5;
				border-radius: 3px;

				transition: 0.15s border-color;

				&:hover {
					border-color: #36b;
				}
			}
		}

		.next-article {
			.label {
				padding-right: 0.7em;
			}
		}

		.previous-article {
			.label {
				padding-left: 0.7em;
			}
		}

		.sep {
			flex: 1;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Contributors */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	.contributors {
		display: flex;
		flex-wrap: wrap;

		font-family: "Open Sans", sans-serif;

		margin: 0 1em 1em;

		.contributor {
			display: flex;
			align-items: center;

			min-width: 200px;

			border: 1px solid #DFE2E5;
			border-radius: 3px;

			margin: 0.25em;

			&:first-of-type {
				margin-left: 0;
			}

			padding: 0.5em;

			transition: border-color 0.15s;

			&:hover {
				border-color: #3366BB;
			}

			.avatar {
				width: 40px;
				height: 40px;
				border-radius: 3px;
			}

			.info {
				flex: 1;
				padding-left: 0.5em;

				.name {
					color: #3366BB;
				}

				.role {
					color: #939393;
					font-size: 80%;
				}
			}
		}

		a {
			text-decoration: none;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Ad */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	section.ad-after-article {
		overflow: hidden;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Disqus comments */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	section.disqus {
		padding: 1.5em;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Footer site information */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	.site-info {
		border-top: 1px solid #eee;

		font-family: "Open Sans", sans-serif;

		display: flex;
		justify-content: center;

		padding: 1em 0;

		.version-link, .copyright {
			color: #808080;
			text-decoration: none;

			transition: 0.15s color;

			&:hover {
				color: #333;
			}
		}

		.copyright {
			padding-right: 1em;
		}
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Layouts */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	@include layout-full {
		top: map_get($header-height, full);
		left: calc(50% - (#{map_get($layouts, stretch)}/2));
		transform: translateX(map_get($nav-width, full));

		width: calc(#{map_get($layouts, stretch)} - #{map_get($nav-width, full)});

		border: {
			width: 0 map_get($site-parts-border, width) map_get($site-parts-border, width) 0;
			style: map_get($site-parts-border, style);
			color: map_get($site-parts-border, color);
		}
	}

	@include layout(stretch) {
		top: map_get($header-height, full);
		left: map_get($nav-width, stretch);

		width: calc(100% - #{map_get($nav-width, stretch)});
	}

	@include layout(tablet) {
		width: 100%;

		top: map_get($header-height, mobile);
		left: 0;
	}

	@include layout(mobile) {

	}

	@include layout(mini) {

	}
}