@import '../../must-have/g-styles/const';

nav {
	position: fixed;
	z-index: 3;

	box-sizing: border-box;

	background: #fff;

	border: {
		width: 0 map_get($site-parts-border, width) 0 0;
		style: map_get($site-parts-border, style);
		color: map_get($site-parts-border, color);
	}

	overflow: auto;

	direction: rtl;

	&::-webkit-scrollbar-track {
		background-color: #ebebeb;
	}
	&::-webkit-scrollbar {
		width: 6px;
		background-color: #c5c5c5;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #c5c5c5;
	}
	&::-webkit-scrollbar-thumb:hover {
		background-color: #b1b1b1;
	}
	&::-webkit-scrollbar-thumb:active {
		background-color: #9e9e9e;
	}

	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
	/* Navigation inner */
	/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

	.inner {
		direction: ltr;

		a {
			text-decoration: none;
		}

		@import 'partials/_nav-structure';

		/*padding: 0 1em;

		font-size: 100%;

		.nav-item-plant {

			.nav-item {
				font-family: "Open Sans", sans-serif;

				display: flex;
				flex-direction: column;
				justify-content: center;

				padding: 0.2em 0;

				.info {
					padding: 0 0 5px 0;
				}

				.versions {
					display: flex;

					div {
						font-family: monospace;
						font-size: 75%;

						margin-right: 3px;

						padding: 2px;

						border: 1px solid #9DE1BC;
						border-radius: 3px;

						background: #E7FFF2;
					}
				}
			}

			.nav-sub {
				//font-size: 90%;

				padding-left: 10%;
			}
		}*/
	}

	@include layout-full {
		width: map_get($nav-width, full);
		height: calc(100% - #{map_get($header-height, full)});

		border-width: 0 map_get($site-parts-border, width);

		top: map_get($header-height, full);
		left: 50%;
		transform: translateX(-1 * map_get($layouts, stretch) / 2);
	}

	@include layout(stretch) {
		width: map_get($nav-width, stretch);
		height: calc(100% - #{map_get($header-height, full)});

		top: map_get($header-height, full);
		left: 0;
	}

	@include layout(tablet) {
		width: map_get($nav-width, mobile);
		height: calc(100% - #{map_get($header-height, mobile)});

		top: map_get($header-height, mobile);
		left: -1 * map_get($nav-width, mobile);

		&.shown {
			left: 0;
		}

		transition: left 0.15s;
	}

	@include layout(mobile) {
	}

	@include layout(mini) {

	}
}
