<article>
    <div class="inner">

        <a href="{{{link}}}" target="_blank" class="edit-article"><i class="material-icons">mode_edit</i><span>Редактировать</span></a>

        {{{article}}}

    </div>

    <section class="contributors">

        {{#contributors}}

            <a href="{{{github}}}" target="_blank" title="К профилю GitHub" class="contributor">

                <img class="avatar" src="{{{github}}}.png?size=40">

                <div class="info">

                    <div class="name">{{name}}</div>

                    <div class="role">{{role}}</div>

                </div>

            </a>

        {{/contributors}}

    </section>

    <section class="ad-after-article">

        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- McModding Book Под статьей -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8094912170389944"
             data-ad-slot="4828749197"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </section>

    <section class="disqus">

        <div id="disqus_thread"></div>
        <script>

            var disqus_config = function () {
                this.page.identifier = '{{{url}}}';
            };

            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://mcmodding.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </section>

</article>