<header>
    <div class="inner">

        <div class="site-menu show-book-nav">
            <div title="Оглавление учебника" class="menu-item">
                <i class="material-icons">menu</i>
            </div>
        </div>

        <div id="logotype">
            <div class="cube">
                {{#logotype_cube_sides}}
                    <img src="{{{link}}}" class="side {{side}}">
                {{/logotype_cube_sides}}
            </div>
        </div>

        <div class="site-info">
            <div class="title">Minecraft Modding</div>
            <div class="description">Учебник по созданию Minecraft модов</div>
        </div>

        <div class="site-menu show-menu">
            <div class="menu-item">
                <i title="Меню сайта" class="material-icons">more_horiz</i>
            </div>
        </div>

        <div class="site-menu transformable">

            <a href="{{{site_url}}}" title="Главная" class="menu-item">
                <i class="material-icons">home</i><span>Главная</span>
            </a>

            <a href="{{{book_index}}}" title="Учебник" class="menu-item">
                <i class="material-icons">import_contacts</i><span>Учебник</span>
            </a>

            <a href="http://forum.mcmodding.ru/newthread.php?fid=23" target="_blank" title="Спросить" class="menu-item">
                <i class="material-icons">help_outline</i><span>Спросить</span>
            </a>

            <a href="http://forum.mcmodding.ru" target="_blank" title="Форум" class="menu-item">
                <i class="material-icons">forum</i><span>Форум</span>
            </a>

        </div>

    </div>
</header>
