<title>{{ title }}</title>

<meta charset="UTF-8">

<link rel="icon" href="{{{ site_root }}}/favicon_standart.png">

<meta name="description" content="{{ description }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{> head/open-graph }}

{{> head/libs }}

<!-- Global CSS -->
<link href="{{{site_root}}}/g-styles/global.min.css" rel="stylesheet">

<!-- Book CSS -->
<link href="{{{ book_root }}}/styles/book.min.css" rel="stylesheet">

<!-- Book JS -->
<script src="{{{ book_root }}}/scripts/book.min.js"></script>