<title>{{ title }}</title>

<meta charset="UTF-8">

<link rel="icon" href="{{{ site_root }}}/favicon_standart.png">

<meta name="description" content="{{ description }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Google Search Console -->
<meta name="google-site-verification" content="42BDFleqV-Ico-U62qM0MjOJOJTFq7rI1mRVWZmyb5s" />

<!-- Google Auto-Ads -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8094912170389944",
        enable_page_level_ads: true
    });
</script>

<!-- Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{> head/open-graph }}

{{> head/libs }}

<!-- Global CSS -->
<link href="{{{site_root}}}/g-styles/global.min.css" rel="stylesheet">

<!-- Book CSS -->
<link href="{{{ book_root }}}/styles/book.min.css" rel="stylesheet">

<!-- Book JS -->
<script>
    let book_id = '{{ book_id }}';
</script>
<script src="{{{ book_root }}}/scripts/book.min.js"></script>