<nav>

    <div class="inner">

        <section class="book-choose">

            {{#version_choose}}

                <div class="version-choose">
                    <label>Версия:
                        <select onChange="window.location.href=this.value">

                            {{#release.show}}
                                <optgroup label="Релиз">
                                    {{#release.versions}}
                                        {{{.}}}
                                    {{/release.versions}}
                                </optgroup>
                            {{/release.show}}

                            {{#beta.show}}
                                <optgroup label="Бета">
                                    {{#beta.versions}}
                                        {{{.}}}
                                    {{/beta.versions}}
                                </optgroup>
                            {{/beta.show}}

                            {{#alpha.show}}
                                <optgroup label="Альфа">
                                    {{#alpha.versions}}
                                        {{{.}}}
                                    {{/alpha.versions}}
                                </optgroup>
                            {{/alpha.show}}

                        </select>
                    </label>
                </div>

            {{/version_choose}}

            <div class="api-choose">
                <label>API:
                    <select onChange="window.location.href=this.value">
                        {{#APIs}}
                            {{{.}}}
                        {{/APIs}}
                    </select>
                </label>
            </div>

        </section>

        <div class="categories">
            {{#categories}}
                <div class="category">

                    <div class="category-header">
                        <a href="{{{link}}}" class="category-article {{#selected}}selected{{/selected}}">{{title}}</a>

                        <svg xmlns="http://www.w3.org/2000/svg" title="Раскрыть/скрыть категорию" class="visibility-switcher switcher-{{index}} closed" width="16" height="16" viewBox="0 0 512 512">
                            <rect class="horizontal-rect" x="0" y="192" width="512" height="128" rx="15" ry="15"/>
                            <rect class="vertical-rect"   x="192" y="0" width="128" height="512" rx="15" ry="15"/>
                        </svg>
                    </div>

                    <div class="category-articles">
                        {{#articles}}
                            <a href="{{{link}}}" class="article {{#selected}}selected{{/selected}}">{{title}}</a>
                        {{/articles}}
                    </div>

                </div>
                {{#separator}}<hr>{{/separator}}
            {{/categories}}
        </div>

    </div>

</nav>