<!-- jQuery -->
<script src="{{{site_root}}}/libs/jQuery/jquery-3.2.0.min.js"></script>

<!-- Include scrollbar width in site width -->
<script src="{{{site_root}}}/libs/mq.genie/mq.genie.min.js"></script>

<!-- highlight.js -->
<link href="{{{site_root}}}/libs/highlight/styles/idea.css" rel="stylesheet">
<style>
    pre code.hljs {
        display: block;
    }

    code.hljs {
        display: inline;
    }
</style>
<script src="{{{site_root}}}/libs/highlight/highlight.pack.js"></script>
<script>
    $(() => {
        $('pre code, code').each( (i, element) => {
            hljs.highlightBlock(element);
        });
    });
</script>

<!-- Magnific Popup -->
<link rel="stylesheet" href="{{{site_root}}}/libs/magnific-popup/magnific-popup.min.css">
<script src="{{{site_root}}}/libs/magnific-popup/magnific-popup.min.js"></script>
<script>
    $(() => {
        $('article').magnificPopup({
            delegate: 'img',
            type: 'image',
            callbacks: {
                elementParse: (item) => { item.src = item.el.attr('src'); }
            }
        });
    });
</script>